body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    width: 100vw;
    background-color: blue;
    justify-content: center;
    /* background-image: url(./assets/sunny-background.jpg);
    background-size: 100% 100% ;
    background-position-y:bottom; */
/* background-attachment: fixed; */
height: 100vh;
}


.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10 {
    display: flex;
}

.row-1 > .brick {
    width: 200px;
    height:50px;
    background-color: blue;
    border-radius: 5px;
    margin:2px;
     
}
.row-2 > .brick {
    width: 200px;
    height:50px;
    background-color: blue;
    border-radius: 5px;
    margin:2px;
     
}

.row-3 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-4 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-5 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-6 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-7 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-8 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-9 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.row-10 > .brick {
    width: 200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}




.UCB {
    width:200px;
    height:50px;
    background-color:white;
    border-radius: 5px;
     /* position: relative;  */
    /* left: 800px;
    top: 300px;  */
}

.ball {
    display: block;
    background: orangered;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    /* position: relative;  */
    /*left: 75px;
    bottom: 50px; */
}


h1{
    color: antiquewhite;
}


.ballLives{
    display: flex;
}

.ballLife-1{
    display: block;
    background: orangered;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0;
}
.ballLife-2{
    display: block;
    background: orangered;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0;
}
.ballLife-3{
    display: block;
    background: orangered;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin: 0;
}

.info {
    height: 0px;
    overflow:visible;
    text-align: center;
    color: wheat;
}
/* forces div not to have size, but forces whats inside to showup
/* 
.brick{
    width: 200px;
    height:50px;
    background-color: #bd585b;
    border-radius: 5px;
    margin:2px;
} */




  /*code for other levels down below

 /* .brick{
    width:200px;
    height:50px;
    background-color:whitesmoke;
    border-radius: 5px;
    margin:2px;
    
} */

 /* .brick-1{
    width:200px;
    height:50px;
    background-color:red;
    border-radius: 5px;
    margin:2px;
    
}

.brick-2{
    width:200px;
    height:50px;
    background-color:orange;
    border-radius: 5px;
    margin:2px;
    
}
.brick-3{
    width:200px;
    height:50px;
    background-color:yellow;
    border-radius: 5px;
    margin:2px;
    
}
.brick-4{
    width:200px;
    height:50px;
    background-color:green;
    border-radius: 5px;
    margin:2px;
    
}
.brick-5{
    width:200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
    
}
.brick-6{
    width:200px;
    height:50px;
    background-color:indigo;
    border-radius: 5px;
    margin:2px;
    
}
.brick-7{
    width:200px;
    height:50px;
    background-color:violet;
    border-radius: 5px;
    margin:2px;
    
}
.brick-8{
    width:200px;
    height:50px;
    background-color:red;
    border-radius: 5px;
    margin:2px;
    
}
.brick-9{
    width:200px;
    height:50px;
    background-color:yellow;
    border-radius: 5px;
    margin:2px;
    
}
.brick-10{
    width:200px;
    height:50px;
    background-color:green;
    border-radius: 5px;
    margin:2px;
    
}
.brick-11{
    width:200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.brick-12{
    width:200px;
    height:50px;
    background-color:violet;
    border-radius: 5px;
    margin:2px;
} */

