body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.container {
    width: 100vw;
    background-color: #ccc;
    justify-content: center;
    background-image: url(./assets/backrgound\ photo.jpg);
    background-size: 100% 100% ;
    background-position-y:bottom;
/* background-attachment: fixed; */
height: 100vh;
}

.row {
    display: flex;
     
}


/* .brick{
    width: 200px;
    height:50px;
    background-color: #bd585b;
    border-radius: 5px;
    margin:2px;
} */


.UCB {
    width:200px;
    height:50px;
    background-color:gray;
    border-radius: 5px;
     /* position: relative;  */
    /* left: 800px;
    top: 300px;  */
}

.ball {
    display: block;
    background: black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0;
    /* position: relative;  */
    /*left: 75px;
    bottom: 50px; */
}




 .brick-1{
    width:200px;
    height:50px;
    background-color:red;
    border-radius: 5px;
    margin:2px;
    
}

.brick-2{
    width:200px;
    height:50px;
    background-color:orange;
    border-radius: 5px;
    margin:2px;
    
}
.brick-3{
    width:200px;
    height:50px;
    background-color:yellow;
    border-radius: 5px;
    margin:2px;
    
}
.brick-4{
    width:200px;
    height:50px;
    background-color:green;
    border-radius: 5px;
    margin:2px;
    
}
.brick-5{
    width:200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
    
}
.brick-6{
    width:200px;
    height:50px;
    background-color:indigo;
    border-radius: 5px;
    margin:2px;
    
}
.brick-7{
    width:200px;
    height:50px;
    background-color:violet;
    border-radius: 5px;
    margin:2px;
    
}
.brick-8{
    width:200px;
    height:50px;
    background-color:red;
    border-radius: 5px;
    margin:2px;
    
}
.brick-9{
    width:200px;
    height:50px;
    background-color:yellow;
    border-radius: 5px;
    margin:2px;
    
}
.brick-10{
    width:200px;
    height:50px;
    background-color:green;
    border-radius: 5px;
    margin:2px;
    
}
.brick-11{
    width:200px;
    height:50px;
    background-color:blue;
    border-radius: 5px;
    margin:2px;
}

.brick-12{
    width:200px;
    height:50px;
    background-color:violet;
    border-radius: 5px;
    margin:2px;
}

